#app{
    background-color: rgb(203, 247, 203);
    margin: 30px;
    padding: 30px;
    color: darkgreen;
    overflow: hidden;
    
}

h1{
    font-family: arial;
    color: rgb(121, 107, 107);
}

h3{
    font-style: italic;
}

#box-group{
    width: 100%;
    overflow: hidden;
}